.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.overlay.opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity .3s, transform .3s;
}

.wrapper {
    min-width: 50%;
    background: var(--bkg-color-l-2);
    border-radius: 10px;
    /*overflow: hidden;*/
    transform: scale(.5);
    transition: .2s;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.opened {
    transform: scale(1);
}

.title {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    border-bottom: solid 1px var(--text-color);
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.title.goal {
    border-bottom: none;
    padding-bottom: 0;
}

.options {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-gap: 10px;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 20px;
}

.option {
    padding: 5px;
    background: var(--bkg-color-l-5);
    border-radius: 15px;
    cursor: pointer;
}

.option:hover {
    background: var(--bkg-color-l-6);
}

.back {
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
    opacity: .7;
    transition: .2s;
    align-self: center;
    background-image: url("../../assets/back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 60px;
}

.back:hover {
    opacity: 1;
}